parameters:
	level: 6
	paths:
		- src
	symfony:
		container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
	ignoreErrors:
		- '#Unable to resolve the template type TMaybeContained#'
	reportUnmatchedIgnoredErrors: false
